$commandlineBorder: 7px;
.controlContainer {
    display: flex;
    align-items: center;
    margin: get-val($main-map, 'margin');
    min-height: 102px;

    #commandLine {
        width: 50%;
        border-radius: $commandlineBorder;
        background-color: rgba(get-val($colours-map, 'inverse.3'), 0.9);

        #cmdinput {
            background: transparent;
            border: none;
            font-size: get-val($main-map, 'font-size.small');
            width: 100%;
            color: white;
            resize: none;
            background-color: get-val($colours-map, 'theme-col.normal');
            border-radius: $commandlineBorder;
            overflow: auto;
            &:hover {
                border: none;
            }
            &:focus {
                border: none;
                outline: none;
            }
        }

    }
}

.errContainer , .quickCalcsErrContainer {
    margin: get-val($main-map, 'margin');
    line-height: 1.5;
    color: red;
    &.success {
        color: #008e0d;
    }
    .errDisplay, .quickCalcsErrDisplay {
        word-wrap: break-word;
        display: none;
    }
}
