$fontstack: 'Mandali', sans-serif;

#newMatGroup {
    display: flex;
    margin-left: get-val($main-map, 'margin') * 2;

    #btnNewMat {
        cursor: pointer;
        display: flex;
        height: get-val($main-map, 'button.height');
        display: flex;
        align-items: center;

        .newMatIcon {
            background-color: get-val($colours-map, 'inverse.1');
            color: get-val($colours-map, 'base.1');
            font-size: get-val($main-map, 'button.height');
            padding: 2px;
            border-radius: 5px;
        }

        &:hover {
            .newLabel {
                display: block;
            }
        }
    }
}

#bin {
    width: get-val($main-map, 'button.height') * 1.2;
    font-size: get-val($main-map, 'button.height') * 1.2;

    &.icon-bin {
        &.binOpen {
            @extend .icon-bin-open;
        }
    }
}
.binGroup {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    float: right;
    margin-left: auto;
    margin-right: get-val($main-map, 'margin') * 4;
    user-select: none;

    color: get-val($colours-map, 'inverse.1');

    &:hover {
        .binLabel {
            display: block;
            color: get-val($colours-map, 'inverse.1');
        }
        color: get-val($colours-map, 'error');
    }
}

body {
    margin: 0;
    padding: 0;
    font: 100% $fontstack !important;
    background-color: get-val($main-map, 'background-color');

    @include background-grid(1, get-val($main-map, 'background-grid.grid-color'));
}

.noSelect {
    user-select: none;
}

.flip {
    transform: scaleX(-1);
}
.flipY {
    transform: rotate(90deg);
}
a {
    text-decoration: none;
}
.clickedit {
    width: 60px;
    font-size: get-val($main-map, 'font-size.normal');
    border-style: none;
}

.newLabel {
    background-color: get-val($colours-map, 'theme-col.lighten.1');
    color: get-val($colours-map, 'inverse.1');

    border-radius: 10px;
    padding: 2px 5px;
    margin-left: get-val($main-map, 'margin') * 2;
    display: none;
    cursor: default;

    height: get-val($main-map, 'button.label.height');
}
