
$borderRadius: 10px;

.popUpContainer {
    background-color: white;

    height:98%;
    position: fixed;
    top: 10px;
    left: 10px;
    box-shadow: rgb(49, 49, 49) 0px 0px 17px;
    border-radius: $borderRadius;
    @include background-grid(1.5, get-val($main-map, 'background-grid.grid-color'));

    $margin: 15px;
    .popUpHeader {

        .popUpHeaderText {
            margin: 0px $margin;
        }
        border-radius: $borderRadius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
        background-color: white;

        overflow: hidden;

        .closebtn {
            margin-right: $margin + 1;
            cursor: pointer;
            font-size: 20px;
        }
    }

    .popUpBody {
        margin-left: $margin;
        overflow: auto;
    }

    .allCalcLabel {
        width: 95%;
        background-color: #eaf1ff;
        border-radius: $borderRadius;
        padding-left: $margin / 2;
    }

}
