$borderRadius: 10px;

.popUpContainer {
    background-color: white;

    height:98%;
    position: fixed;
    top: 10px;
    left: 10px;
    box-shadow: rgb(49, 49, 49) 0px 0px 17px;
    border-radius: $borderRadius;
    @include background-grid(1.5, get-val($main-map, 'background-grid.grid-color'));

    .popUpHeader {

        .popUpHeaderText {
            margin: 0px get-val($main-map, 'margin') * 3;
        }
        border-radius: $borderRadius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
        background-color: white;

        overflow: hidden;

        .closebtn {
            margin-right: get-val($main-map, 'margin') * 3;
            cursor: pointer;
            font-size: get-val($main-map, 'font-size.small');
        }
    }

    .popUpBody {
        margin-left: get-val($main-map, 'margin') * 3;
        overflow: auto;
    }

    .allCalcLabel {
        width: 95%;
        background-color: #eaf1ff;
        border-radius: $borderRadius;
        padding-left: get-val($main-map, 'margin') * 3 / 2;
    }

}
