.quickCalcsOpen {
    #quickCalcsContainer {
        display: flex;
    }
}


#quickCalcsContainer {
    display: none;

    width: 100%;
    position: fixed;
    flex-direction: column;
    z-index: 1;

    top: 0px;
    height: get-val($header-map, 'height');
    background-color: get-val($colours-map, 'base.1');

    border-bottom-style: solid;
    border-color: get-val($colours-map, 'inverse.1');

    @include background-grid(1, get-val($main-map, 'background-grid.grid-color'));

    .quickCalcsTitle {
        font-size: get-val($main-map, 'font-size.heading');
        height: get-val($main-map, 'font-size.heading');
        display: flex;
        align-items: center;
        margin-left: get-val($main-map, 'margin');
    }

    .quickCalcsColumnContainer {
        display: flex;
        .quickCalcsColumn {
            width: 50%;
            display: flex;
            flex-direction: column;

            align-items: center;
            flex-wrap: wrap;
        }

        .quickCalcsOperatorsContainer {
            p {
                margin: 0px;

                &.op {
                    margin: 0 get-val($main-map, 'margin') * 2;
                }
            }
        }
    }


    $quickCalcsCellHeight: 35px;
    $quickCalcsCellWidth: 50px;

    .quickBtn {
        .matrixCell {
            width: $quickCalcsCellWidth;
            height: $quickCalcsCellHeight;
            margin: 0px;
        }
    }

    .quickCalcsTitleBar {
        display: flex;
        justify-content: space-between;

        .quickCalcsPinIcon {
            margin-right: get-val($sidebar-map, 'handle.width');
            cursor: pointer;
            color: #a5a5a5;
            width: 20px;
            height: 20px;

            .icon-pin {
                margin-left: get-val($main-map, 'margin')
            }

            &:hover {
                color: gray;
            }
        }
    }

    .quickCalcsErrContainer {
        height: 18px;
        margin-top: 0px;
    }

    &.pinned {
        .quickCalcsPinIcon {
            color: get-val($colours-map, 'theme-col.lighten.1');
        }
    }

    .quickCalcsRow {
        display: flex;
    }

    &.quickCalcsNoMatrix {
        .quickClassMatSpecific, .quickCalcsOperatorsContainer {
            .quickBtn, .matrixCell {
                cursor: default;
                background-color: #b1b1b1;
                pointer-events: none;
            }
        }
    }

    &.quickCalcsCurrentNonSquare {
        [data-func="#D"], [data-func="#I"], .quickCalcsPowerCalc {
            display: none;
        }
    }

    .quickBtn {
        display: flex;
        align-items: center;

        background-color: get-val($colours-map, 'inverse.4');
        color: get-val($colours-map, 'base.2');

        padding:0px 10px;
        margin: get-val($main-map, 'margin') get-val($main-map, 'margin');
        justify-content: center;
        border-radius: 3px;
        font-size: get-val($main-map, 'font-size.small');

        &:hover {
            cursor: pointer;
            background-color: get-val($colours-map, 'theme-col.lighten.4');
        }
        div:first-child {
            margin-right: get-val($main-map, 'margin')
        }
        div:last-child {
            margin-left: get-val($main-map, 'margin')
        }

        select {
            border-radius: 2px;
            font-size: get-val($main-map, 'font-size.small');
        }
    }
}
