@import "../components/icons";
@import "../components/matrix";
@import "../components/main";
@import "../components/header";
@import "../components/refrences";

img {
    height: 40px;
    margin-right: 10px;
}

.matDefinitions .matInput {
    align-items: center;
}

.dragHandle {
    margin-left: 10px !important;
    margin-top: 0px !important;
}
