$base: #fbfbfb !default;
$shift-amount: 10% !default;
$theme-col: #22374a !default;

@import 'includer';

$inverse: invert($base);

@function colour-shift($colour, $amount) {
    @if $amount > 0 {
       @return lighten($colour, $amount);
    }
    @else {
       @return darken($colour, $amount * -1);
    }
}

$colours-map: (
    'base': (
        '1': $base,
        '2': colour-shift($base, $shift-amount),
        '3': colour-shift($base, $shift-amount * 2),
        '4': colour-shift($base, $shift-amount * 3),
        '5': colour-shift($base, $shift-amount * 4)
    ),
    'inverse': (
        '1': $inverse,
        '2': colour-shift($inverse, $shift-amount * -1),
        '3': colour-shift($inverse, $shift-amount * -2),
        '4': colour-shift($inverse, $shift-amount * -3),
        '5': colour-shift($inverse, $shift-amount * -4)
    ),
    'theme-col': (
        'normal': $theme-col,
        'lighten': (
            '1': lighten($theme-col, 15%),
            '2': lighten($theme-col, 30%),
            '3': lighten($theme-col, 35%),
            '4': lighten($theme-col, 50%),
            '5': lighten($theme-col, 65%)
        ),
        'darken': (
            '1': darken($theme-col, 15%),
            '2': darken($theme-col, 30%),
            '3': darken($theme-col, 35%),
            '4': darken($theme-col, 50%),
            '5': darken($theme-col, 65%)
        )
    ),
    'error': red
);
