$themes: (
    'colours': (
        'blue': #2572b7,
        'green': #019a1c,
        'purple': #7c008a,
        'cyan': #14d6ce
    ),
    'themes': (
        'light': (
            'base': #fbfbfb,
            'shift-amount': -10%
        ),
        'dark': (
            'base': #040404,
            'shift-amount': 10%
        )
    )
);

$base: get-val($themes, 'themes.' + $THEME + '.base');
$shift-amount: get-val($themes, 'themes.' + $THEME + '.shift-amount');
$theme-col: get-val($themes, 'colours.' + $COLOUR);

// Add classes for each colour and theme-col
@each $name, $col in map-get($themes, 'colours') {
    .COLOUR-#{$name} {
        background-color: $col;
    }
}

@each $name, $theme in map-get($themes, 'themes') {
    .BASE-#{$name} {
        background-color: map-get($theme, 'base');
    }
}
