@font-face {
  font-family: 'matrixc';
  src:  url('../img/fonts/matrixc.eot?nmujgv');
  src:  url('../img/fonts/matrixc.eot?nmujgv#iefix') format('embedded-opentype'),
    url('../img/fonts/matrixc.ttf?nmujgv') format('truetype'),
    url('../img/fonts/matrixc.woff?nmujgv') format('woff'),
    url('../img/fonts/matrixc.svg?nmujgv#matrixc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../img/fonts */
  font-family: 'matrixc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin-open:before {
  content: "\e90d";
}
.icon-un-full-screen:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e900";
}
.icon-bin:before {
  content: "\e901";
}
.icon-full-screen:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
.icon-left-arrow-line-symbol:before {
  content: "\e905";
}
.icon-double-right-arrows-angles:before {
  content: "\e906";
}
.icon-drag-handle:before {
  content: "\e907";
}
.icon-left-bracket:before {
  content: "\e908";
}
.icon-new-matrix:before {
  content: "\e909";
}
.icon-right-arrow-angle:before {
  content: "\e90a";
}
.icon-right-bracket:before {
  content: "\e90b";
}
.icon-two-arrows:before {
  content: "\e90c";
}

