$fontstack: 'Mandali', sans-serif;
$col1: #fbfbfb;
$col2: gray;

#newMatGroup {
    display: flex;
    margin-left: 10px;

    #btnNewMat {
        cursor: pointer;
        display: flex;
        height:40px; // == fontsize
        display: flex;
        align-items: center;

        .newMatIcon {
            background-color: black;
            color: white;
            font-size:40px;
            padding: 2px;
            border-radius: 5px;
        }

        #newLabel {
            background-color: #e8effd;
            border-radius: 10px;
            padding: 2px 5px;
            margin-left: 10px;
            display: none;
            cursor: default;
        }

        &:hover {
            #newLabel {
                display: block;
            }
        }
    }
}

#bin {
    float: right;
    margin-left: auto;
    margin-right: 17px;
    user-select: none;
    width: 50px;
    font-size: 50px;

    &.icon-bin {
        &.binOpen {
            @extend .icon-bin-open;
        }
    }
}

$gridCol: rgba(128, 128, 128, 0.1);
$gridDim: 20px;
body {
    margin: 0;
    padding: 0;
    font: 100% $fontstack;
    background-color: $col1;
    background-size: $gridDim $gridDim;
    background-image: linear-gradient(to right, $gridCol 1px, transparent 1px), linear-gradient(to bottom, $gridCol 1px, transparent 1px);
}

#enterMat {
    font: 100% $fontstack;
    font-size: 30px;
}

.noSelect {
    user-select: none;
}

.flip {
    transform: scaleX(-1);
}
.flipY {
    transform: rotate(90deg);
}
a {
    text-decoration: none;
}
.clickedit {
    width: 60px;
    font-size: 30px;
    border-style: none;
}
