#quickCalcsContainer {
    display: none;

    width: 100%;
    position: absolute;
    flex-direction: column;

    top: 0px;
    height: 150px;
    background-color: white;

    border-bottom-style: solid;
    border-color: black;

    $gridCol: rgba(128, 128, 128, 0.1);
    $gridDim: 20px;
    background-size: $gridDim $gridDim;
    background-image: linear-gradient(to right, $gridCol 1px, transparent 1px), linear-gradient(to bottom, $gridCol 1px, transparent 1px);

    $titleFontSize: 30px;
    .quickCalcsTitle {
        font-size: $titleFontSize;
        height: $titleFontSize;
        display: flex;
        align-items: center;
        margin-left: 5px
    }
    .quickCalcsColumn {
        width: 50%;
        display: flex;
        flex-direction: column;

        justify-content: space-around;
        align-items: center;
    }

    .quickCalcsTitleBar {
        display: flex;
        justify-content: space-between;

        .quickCalcsPinIcon {
            margin-right: 16px;
            cursor: pointer;
            color: #a5a5a5;

            &:hover {
                color: gray;
            }
        }
    }

    &.pinned {
        .quickCalcsPinIcon {
            color: #22374a;
        }
    }

    .quickCalcsRow {
        display: flex;
    }

    &.quickCalcsNoMatrix {
        .quickClassMatSpecific {
            .quickBtn {
                cursor: default;
                background-color: #b1b1b1;
                pointer-events: none;
            }
        }
    }

    .quickBtn {
        display: flex;
        align-items: center;
        background-color: gray;
        color: white;
        padding:0px 10px;
        margin: 5px;
        justify-content: center;
        border-radius: 3px;
        font-size: 20px;

        &:hover {
            cursor: pointer;
            background-color: #676767;
        }
    }

}
